body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige; /* Set the background color to beige */
}

header {
    background-color: #ef720b;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
}

.project {
    border: 1px solid #ccc;
    margin: 1em 0;
    padding: 1em;
}

footer {
    background-color: #ef720b;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Center the image */
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Adjust as needed */
}
